:root {
    --font-family: "Mulish", sans-serif;
    --second-family: "Montserrat", sans-serif;
    --third-family: "Work Sans", sans-serif;

    // colors
    --color-primary: #FFED00;
    --color-grey: #F4F5F4;
    --color-black: #000;
    --color-black-1: #373F41;
    --color-black-2: #333;  
    --color-blue: #2F80ED;
    --color-dark-blue: #3C64B1;
    --color-success-text: #118632;
    --color-success: #98D4A9;
    --color-error-text: #C42C0B;
    --color-error: rgb(196 44 11 / 25%);
}