.Code {
    position: relative;

    overflow: auto;

    padding: 20px;

    background: var(--code-bg);
    border: 1px solid var(--primary-color);
}

.copyBtn {
    position: absolute;
    top: 20px;
    right: 20px;
}

.copyIcon path {
    fill: transparent;
    stroke: var(--primary-color);
}