.Input {
    width: 100%;
    padding: 17px 16px;

    background: #F4F5F4;
    border: none;
    outline: 1px solid #F4F5F4;

    transition: all 0.3s ease-in-out;

    &.secondary {
        padding: 8px 16px;
        background-color: white;
        border: 1px solid #DBE2EA;
        border-radius: 10px;

        &:focus {
            border-color: #8f8f8f;
        }  
    }

    &.primary {
        font-family: var(--second-family);
        font-size: 18px;

        &:focus {
            outline-color:  #8f8f8f;
        }   

        &.error {
            outline-color:  var(--color-error-text);
        }
    }
}

.errorMessage {
        display: none;
    }


.container {
    position: relative;

    &.isError .errorMessage {
        position: absolute;
        top: -14px;
        right: 0;

        display: inline;

        font-size: 12px;
    }

    &.maxSize {
        width: 100%;
    }
}