.trigger {
	margin: 0;
	padding: 0;

	background: none;
	border: none;
	outline: none;
}

.options {
	position: absolute;
	z-index: var(--z-listbox);

	min-width: 100%;

	background: var(--dark-bg-redesigned);
	border-radius: 12px;
	box-shadow: 4px 4px 8px var(--dark-bg-redesigned);

	.top {
		bottom: 100%
	}
}

.item {
	padding: 10px 20px;
}

.readonlyLabel {
	opacity: 0.7;
}

.selected {
	background: var(--light-bg-redesigned);
}