.ArticleDetailsPage {
	min-height: 100%;
}

.commentTitle {
	margin-top: 20px;
}

.recommendations {
	overflow-x: auto;
	overflow-y: hidden;
	flex-wrap: nowrap;
	justify-content: space-between;

	margin-top: 20px;
}